<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
    </head>
    <body>
        <H1>Hello, {{name}}</h1>
        <br>
        <h3>Your link to recover access is below:</h3>
        <br>
        <a href={{link}}>click here.</a>.
        <p>Cheers,</p>
        <p>The team</p>
    </body>
</html>